// Override default variables before the import
$enable-rounded: false;

// pallete: https://coolors.co/343a40-eeba0b-49a078-f0f7f4-e3170a
$light-color: #F0F7F4;
$theme-colors: (
    "light": $light-color,
    "dark": #343a40,
    "primary": #EEBA0B,
    "success": #49A078,
    "danger": #E3170A,
);
$body-bg: darken(white, 10%);

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

// Import fonts
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.navbar{
    .navbar-brand{
        font-weight: 350;
        letter-spacing: 4px;
    }
    .form-inline{
        flex: inherit;
        .btn{
            display: none;
            border-color: transparent;
            border-bottom: 1px solid theme-color("ligt");
            border-left: none;
            i{
                font-size: inherit;
            }
        }
        .form-control{
            flex: inherit;
            max-width: 70%;
            background: none;
            border: none;
            border-bottom: solid 1px lighten(theme-color("dark"), 5%);
            &:focus{
                box-shadow: none;
                border-color: theme-color("light");
                color: theme-color("light");
                ~ .btn{
                    display: block;
                }
            }
        }
    }
    .dropdown-item{
        &:hover{
            background-color: theme-color("dark");
            color: theme-color("light");
        }
        &:active{
            background-color: lighten(theme-color("dark"), 25%);
        }
    }
    .navbar-toggler{
        //This is the mobile button
        border: none;
        &:focus{
            outline: none;
        }
    }
}

.welcome-signup-box{
    background-color: theme-color("primary");
    background: linear-gradient(135deg, darken(theme-color("primary"), 10%), darken(theme-color("primary"), 20%) );
}

.product-list{
    max-width: 1500px;
    .product-item-image{
        max-height: 60vh;
    }
}

.cart-section{
    .cart-banner{
        background-color: theme-color("dark");
        background: linear-gradient(135deg, lighten(theme-color("dark"), 10%), darken(theme-color("dark"), 10%));
    }
}

.checkout-section{
    
}

.orders-section{
    .order-row{
        white-space: nowrap;
        overflow: scroll;
        .cart-item{
            display: inline-block;
        }
    }

    .description-wrapper{
        padding-bottom: 1rem !important;
    }
    .button-wrapper{
        display: none;
    }
}